select:hover, option.form-control{
    cursor: pointer;
}

.text-left{
    text-align: left;
}


.clonedInput { padding: 10px; border-radius: 5px; background-color: #def; margin-bottom: 10px; }

.clonedInput div { margin: 5px; }

.show-password{
    right: 5px;
    float: right;
    position: relative;
    bottom: 25px;
}


.management .fas.fa-caret-right{
    color: #28A745;
}

/*.parametrage:hover{
    cursor: pointer;
    color: #28A745;
}*/

/*****************************************
 *                                       *
 *               card                    *
 *                                       *
 *****************************************/

.card:hover, .card:focus{
    box-shadow: 1px 1px 5px #00345F;
    cursor: pointer;
    transition: transform 0.5s;
    transform: scale(1.05);
}

.card.card-body:hover{
    background-color: #00345F;
    color: white;
}

.card.classic:hover{
    transform: none;
    cursor: pointer;
    box-shadow: none;
}


/*****************************************
 *                                       *
 *               boutons                 *
 *                                       *
 *****************************************/


.btn:active, .btn:focus{
    box-shadow: none;
}

/*****************************************
 *                                       *
 *               tableau                 *
 *                                       *
 *****************************************/

/*    thead{
        background-color: #28A745;
    }

    th{
        color: white;
    }

    td{
        color: #00345F;
    }*/

/*    tbody tr:hover{
        background-color: white;
        color:  #28A745;
}*/


/*****************************************
 *                                       *
 *           end boutons                 *
 *                                       *
 *****************************************/

textarea{
    text-align: justify;
}


.forgotten-password .form-control{
    background-color: #F1EEEE;
}


.slide-header{
    background-color:  #00345F;
    padding: 0.5em;
    opacity: 0.7;
    color: white;
    border-radius:5px;
}

.slide-content{
    border: 1px solid #00345F;
    border-radius:5px;
}

.slide-title{
    cursor: pointer;
    color: #00345F;
}

.slide-title:hover{
    margin-left:15px;
    transition: 0.5s;
    color: #28A745;
}


/*****************************************
 *                                       *
 *               marges                  *
 *                                       *
 *****************************************/

.hover-me:hover{
    cursor: pointer;
}

p{
    text-align: justify;
    color: #00345F;
    margin: auto;
}

/*#contact-etudiant-consultation .form-control{
    background-color: white;
    box-shadow: none;
}*/

label{
    color: #00345F;
}


.hide{
    display: none;
}

.extra{
    font-size: 22px;
    font-weight: bold;
}

small{
    color: #00345F;
    font-weight: bold;
}

/*fieldset{
    border-style:solid;
    border-width: medium;
    border-color: white;
    border-radius: 5px;
    margin-bottom: 2em;
}*/

/*.legend{
    border: solid;
    border-color: white;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    text-align: center;
}*/



/*action au clic & au passage de la souris sur la zone de saisie*/


/* min-height: calc(100% - (1.75rem * 2)); */
a:hover{
    text-decoration: none;
}
/* à mettre dans un ficher appelé modal.scss */
.modal-header{
    background-color: #00345F;
    color: white;
}


/*css nom prenom profil etudiant + deconnection*/

div .profil{
    color: white;
}

/*par defaut le form d'inscription est dislay none*/
form#register{
    display: none;
}

.utilisateur {
    margin: 10px;
}

.portfolio-consultation .menu-droit-consultation{
    position: fixed;
    /*width: auto;*/
    right: 25px;
    /*top: 30%;*/
    /*text-indent: 10px;   */
    z-index: 2;
    margin: 0 0 0 0;
}

img.img-portfolio{
    width: 50%;
    height: auto;
    /*border-radius: 50%;*/
    margin:1em;
}

.portfolio-consultation .titre{
    border: 1px solid white;
    border-radius: 10px 0px 10px 0px;
    padding: 10px;
    font-weight: bold;
    box-shadow: 1px 1px 5px #333;
    color: white;
    margin-top: 2.5em;
    margin-bottom: 1em;
}

.bg-linear-red{
    background: linear-gradient( to left, white, #d00021);
}

.bg-linear-green{
    background: linear-gradient( to left, white, #28A745);
}

.bg-linear-blue{
    background: linear-gradient( to left, white, #00345F);
}

.marge-interne-consultation{
    padding: 2em;
}

   header{
        /*height: 70px;*/
        margin-bottom: 5em;
    }
/*****************************************
 *                                       *
 *          media querries               *
 *                                       *
 *****************************************/

@media screen and (min-width: 1200px){
    header{
        /*height: 70px;*/
        margin-bottom: 10em;
    }
}


@media screen and (min-width: 1000px) and (max-width: 1199px){

}


@media screen and (min-width: 750px) and (max-width: 1000px){

}


@media screen and (min-width: 550px) and (max-width: 750px) {

}


@media screen and (min-width: 400px) and (max-width: 550px) {

}


@media screen and (max-width: 400px) {

    /*retait du logo upjv dans le header*/
    #logo_droite{
        display: none;
    }


    .utilisateur {
        text-align: center;
        width: 100%;
    }
}

.index .arounder{
    background-color: #F1EEEE;
    padding: 2em;
}

.arounder{
    border-radius: 5px;
    box-shadow: 1px 1px 5px #00345F;
    padding: 10px;
}

.arounder.text{
    border-left: 2px solid #00345F;
    border-right: 2px solid #00345F;
}



.labeltabrech{
    color: #19486f;
}

/*****************************************
 *                                       *
 *        consultation de portefolio                  *
 *                                       *
 *****************************************/

[hidden] {
  display: none !important;
}

/* centrage des cellules des tableaux*/
.table td, .table th {
    text-align: center;
}


/*style bouton enregistrer dans la page d'ajout/supp des administrateur*/

#submit_enseignant{
    background: none;
    border: 0;
    color: inherit;
    cursor: pointer;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
}

.fa-save:hover{
    color: #bd2130; /*rouge*/
}


.msg_ajout_admin{
    color: #28a745; /*vert*/
}

.msg_supp_admin{
    color: #bd2130; /*rouge*/
}

.gras_prenom{
    font-weight: bold;
}

.arounder.dark{
    background-color: white;
    padding: 15px;
}
